// Colors
$dark-green: #1a5336;
$light-green: #00a221;
$light-grey: #efeff4;
$medium-grey: #c8c8c8;
$orange: #c65415;

// Backgrounds
$navbar-bg: $dark-green;
$menu-open: $light-green;
$main-bg-color: $light-grey;
$btn-cancel-bg: $orange;
$btn-submit-bg: $light-green;
$footer-bg: $dark-green;

// Links
$white-link-hover: $medium-grey;